*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Lobster", cursive;

  --ff-reg: 400;
  --ff-bold: 900;

  --clr-white: #F2F2F2;
  --clr-light-d: #BFBFBF;
  --clr-light-l: #D9D9D9;

  --clr-black: #141414;
  --clr-dark-d: #212121;
  --clr-dark-l: #333333;

  --clr-accent-primary: #6F04D9;
  --clr-accent-secondary: #05C7F2;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-black);
  color: var(--clr-white);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

